[Unit]
Description=OpenVPN service
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
Restart=always
ExecStart={{ ovpn_bin }} --config {{ ovpn_workdir }}/{{ ovpn_server_config }}
WorkingDirectory={{ ovpn_workdir }}

[Install]
WantedBy=multi-user.target
