proto udp
port {{ ovpn_port }}
dev tun
ca {{ ovpn_ca_crt }}
cert {{ ovpn_server_cert }}
key {{ ovpn_server_key }}  # This file should be kept secret
tls-auth {{ ovpn_server_tls_key }} 0 # This file is secret
dh {{ ovpn_server_dh }}
server {{ ovnp_subnet }} {{ ovpn_subnet_mask }}
ifconfig-pool-persist /var/log/openvpn/ipp.txt
keepalive 10 120
cipher {{ ovpn_cipher }}
auth {{ ovpn_auth_proto }}
user nobody
group nogroup
persist-key
persist-tun
status /var/log/openvpn/openvpn-status.log
;log         /var/log/openvpn/openvpn.log
log-append  /var/log/openvpn/openvpn.log
verb 3
explicit-exit-notify 1